h1 {
    color: black;
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 30px;

}

body {
    background-color: rgb(222, 215, 215);
    position: center;
    font-family:"Roboto";
}

p {
    text-align: center;
    
    margin: 20px;
}

button {
    background: black;
    color: white;
    font-size: 15px;
    text-align: center;
    
    border-radius: 9px;
    
}

.input {
    text-align: center;
    
}

#emailInput {
    margin-bottom:1em;
    width: 300px;
    height: 40px;
}
#passwordInput {
    margin-bottom:1em;
    width: 300px;
    height: 40px;
}

#startFreeTrial1 {
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#startFreeTrial2 {
    width: 310px;
    height: 43px;
}